@import "../variables/colors";
@import "../variables/fonts";
@import "../base/_mixins.scss";
@import '../mixins/_mixin.scss';



.main-nav {
    display: block;
    padding: 1rem 3rem;
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: background 0.3s ease-in-out;
    background: $color_3;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    // box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);

    > .content-wrapper-sm {
        @include display-flex(row, space-between);
    }

    @include media-breakpoint-up(md) {
        background: transparent;
        border: 0;
        box-shadow: none;
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 700;
        color: $white;
        text-decoration: none;
    }

    .nav-links {
        position: relative;
        top: auto;
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
        overflow: hidden;
        height: 0;
        background: transparent;

        @include media-breakpoint-up(md) {
            display: flex;
            height: auto;
        }
        .appointement {
            background: $color_5;
            color: $color_3 !important;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: $color_3;
                color: $color_5;
            }
            // style={{
            //     backgroundColor: "#C4AC75",
            //     color: "black",
            //     padding: "10px 20px",
            //     marginTop: "-10px",
            //     text
            // }}
        }

        li {
            margin: 1rem;
            text-align: center;

            a {
                color: $color_5;
                display: block;
                text-decoration: none;
            }
        }
       
    }

    .nav-open {
        position: absolute;
        top: 133%;
        width: 100%;
        display: block;
        height: auto;
        background: $color_3;

        li {
            margin: 0;

            a {
                padding: 2rem 0;
            }

            border-top: 1px solid transparentize($white, 0.8);
        }
    }
}

.fixed-nav {
    background: $color_3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease-in-out;
}
